/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: whitesmoke;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  height: 65px;

  
  background: #fff;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ef293cd6;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  border: white;
  border-bottom: solid;
  border-radius: 10px
  
}
.sidebaravatar{
  vertical-align: middle;
  width: 80px;
  height: 80px;
  padding: 2px;
  margin-left: 5px;
  border-radius: 50%;
  margin-left: -5px;
  

}
.btn-editprofile{
  color: white;
}
.navbarprofile{
  margin-left: 5px;
}
.username{
  margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 23px;
}
.userid{
  margin-top: -10px;
  margin-left: 6px;
    margin-bottom: 0;
    color: white;
    font-size: 15px;
}
.navbarcard{
  border: solid;
  border-radius: 20px;
  
  margin: 5px;
}

.navbarcard-body{
  padding: 1rem;
  padding-top: 0.4rem;
 padding-bottom: 0.4rem ;  
  
}
.navcardnumber{
  margin-left: 24px;
  color: white;
  
}
.nav-link{
  padding: 0%;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 5px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
  border-radius: 5px;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
  margin-right: 10px;
}

a.article,
a.article:hover {
  background: #fff;
  color: #7386d5;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  margin-left: 16em;
  
  min-height: 100vh;
  transition: all 0.3s;
}
@media only screen and (max-width: 600px) {
#content{
  margin-left: 0%;
}}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    max-width: 250px;
    max-height: 80px;
    background: #ef293cd6;
    position: fixed;
    text-align: center;
    margin-left: -80px !important;
    position: fixed;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
@media (max-width: 768px) {
#sidebarCollapse{
    display: none;
}
#sidebar{
    display: none;
}}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  padding: 2px;
  margin-left: 5px;
  border-radius: 50%;
  border-style: dotted;
  border-color: violet;
}

.post {
  margin-top: 15px;
}
.postavatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-top: -7px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.story{
    display: inline-flex;
    padding-bottom: 15px;
    overflow-x: auto;
    
}


.postcard {
  background-color: white;
  border-radius: 30px;
  margin-bottom: 15px;
  max-width: 350px;
  
  
 
}
.cardmodal{
  margin-top: -50px;
}
.postheader{
  padding-bottom: 40px;
  padding-top: 10px;
}
.head-block{
  
  top: 10px;
  right: 20px;
  height: 40px;
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.post-username{
  font-weight: bold;
}
.posttime{
  font-size: 13px;
  
}
.postusertext{
  line-height: 1.3;
  margin-right: 10px;
}
    
   



.postcard .username {
  font-weight: bold;
}
.postcard .time {
  font-size: 10px;
  font-weight: normal;
}
.postimg {
  border-radius: 30px;
  
  cursor: pointer;
  width: auto;
    height: 350px;
    
  
  
}
.post-likebtn {
  font-size: 17px;
  color: black;
  border-radius: 20px;
  

    
  
}
.post-sharebtn {
  font-size: 17px;
  color: black;
  border-radius: 20px;
  
}
.post-savebtn {
  font-size: 19px;
  color: black;
  border-radius: 20px;
  
}
.post-bottom-avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}
.post-bottom-avatar-next {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -10px;
  z-index: -1;
}
#more{
    display: none;
}
.quotes{
    font-size: 13px;
    margin-left: 15px;
}
.post-morebtn{
    
    border-radius: 20px;
}

.newpost {
    margin-top:-40px ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .newpost img {
    
    cursor: pointer;
  }
  .newpost .icon {
    position: absolute;
    display: inline-block;
    width: 128px;
    opacity: 0;
    fill: red;
  }
  .newpost .icon.like {
    animation: 1s like-heart-animation ease-in-out forwards;
  }
  .newpost p {
    align-self: baseline;
    margin-top: 10px;
  }
  @keyframes like-heart-animation {
    0%,
    to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    15% {
      opacity: 0.9;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    30% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
    45%,
    80% {
      opacity: 0.9;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  
/* MOBILE NAV */
.mb-nav {
    display: none;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .mb-nav {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      z-index: 99;
      overflow: hidden;
      border-top-left-radius: 20px;
          border-top-right-radius: 20px;
    color: black;
    margin-bottom: -2px;
           
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  
    .mb-nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 25%;
      padding: 0.3rem 0;
    }
  
    .mb-nav-item i,
    .mb-nav-item a {
      font-size: 1rem;
      color: #000000;
      z-index: 2;
      transition: 0.5s ease-in-out;
    }
  
    .mb-nav-item.active i {
      color: black;

    }
  
   
    .mb-nav-avatar{
      vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
    }
  }
  /* END MOBILE NAV */
  
 
.bookmark{
  margin-left: 175px;
}
/* Bottom */
.modal {

  /* other stuff we already covered */

  
  margin-top: 180px;
  
  
}

.list-group-item{
  border: none;
}


.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}
@media only screen and (max-width: 600px) {  
  .modal{
    margin-top: 350px;
    width: 450px;
    margin-left: -10px;}

  }
  .market-bottom-card {
    padding: 1%;
    padding-bottom: 0%;
    margin-top: 5px;
    border-radius: 20px;
    margin: 5px;

}

  .market-bottom-card-img {
    width: 150px;
    height: auto;
}
.ratedcards {
  display: inline-flex;
  overflow-x: auto;
}
.product-avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.product-mini {
  margin-top: -10px;
}
.product-name {
  font-weight: bold;
}


